nav{
  width: 100%;
  background-color: #F4F9F9 ;
  height: 70px;
  box-shadow: 0px 0px 20px #9e9e9e;
}

nav h1{
  font-size: 25px;
  font-family: 'Secular One', sans-serif;
  padding-left: 40px;
  padding-top: 15px;
  font-weight: 550;
}

nav ul{
  float: right;
  margin-top: -40px;
  padding-right: 40px;
  padding-top: 15px;
}

nav ul li{
  display: inline-block;
}

nav ul li a{
  margin-left: 50px;
  font-size: 17px;
  font-family: 'Signika', sans-serif;
  text-decoration: none;
  color: black;
}

label #menu,
label #close{
  color: black;
  font-size: 36px;
  float: right;
  cursor: pointer;
  display: none;
}

#check{
  display: block;
}

@media (max-width: 800px){
  label #menu{
      display: block;
      margin-right: 50px;
      margin-top: 15px;
  }

  nav ul{
      position: fixed;
      width: 100%;
      height: 50vh;
      right: -750px;
      background-color: #D6E4F0;
      z-index: 1;
      transition: 1s;
  }

  nav ul li{
      text-align: center;
      display: block;
      line-height: 110px;
  }

  nav ul li a{
      font-size: 20px;
      color: black;
      transition: 1s;  
  }

  ul li a:hover{
      font-size: 21px;
      font-weight: bold;
      color: #0F3460;
  }

  label #close{
      position: absolute;
      margin-top: 15px;
      right: 55px;
  }

  #check:checked ~ ul{
      right: 105px;
  }
  #check:checked ~ label #close{
      display: block;
  }
  #check:checked ~ label #menu{
      display: none;
  }
}